<a href="https://colab.research.google.com/github/danielmayfield/coms605-AI/blob/main/Python_Fundamentals_Week_1_COMS605_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals

In this colab sheet we will quickly overview the fundamentals of Python.

## Language Semantics

### Indentation, not braces

Some programming languages use braces but instead Python uses indentation to delimit blocks of code. For example,


for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

In [ ]:
for x in [1,2,3,4]:
  if x < 2:
    print('The number is 1')
  else:
    print('The number is %d which is not 1' %x)

The number is 1
The number is 2 which is not 1
The number is 3 which is not 1
The number is 4 which is not 1

The indentation makes Python code easy to read but it does mean you need to be careful with formatting.

Also can often mean error occur when you simply copying and paste.

Below is the same example but when the spacing is slightly off so there will be an error when compiled.

In [ ]:
for x in [1,2,3,4]:
  if x < 2:
    print('The number is 1')



else:
    print('The number is %d which is not 1' %x)

The number is 1
The number is 4 which is not 1

#### Comments

In order to add comments to your code you can simply use `#` at the start of the line.

In [ ]:
# The code below is an example of a for-loop.

''' This is a comment
across  multiple lines
in the code'''

for x in [1,2,3,4]:
  if x < 2:
    print('The number is 1')   #  This line of code prints some text
  else:
    print('The number is %d which is not 1' %x)

The number is 1
The number is 2 which is not 1
The number is 3 which is not 1
The number is 4 which is not 1

## Modules

There are lots of features in Python which require you to import modules to use.

#### Simply importing Modules

One module we will use in the module is NumPy.

In [ ]:
import numpy

Once imported all of the functionality in this package is ready to use. To access it you would need to write `numpy.name` where `name` stands for the name of the functionality you want to use from NumPy.

In [ ]:
numpy.absolute(-2)

2

In [ ]:
numpy.flip?

In [ ]:
numpy.absolute?

#### Importing with name

The above is fine unless you already had some object called `numpy` in your code as it would be lost to this new object with the same name.

Often packages have standard names to import them under to help prevent this problem. For instance is common to import numpy as np i.e.

In [ ]:
import numpy as np

np.absolute(-2)

2

#### Importing certian functionality from module

In [ ]:
from scipy import stats as stats_package

So instead of importing all of the scipy module we have only imported what comes under stats module within.

In [ ]:
from numpy import absolute

In [ ]:
absolute(-2)

2

## Function

Functions allow us to define ways for Python to take zero or more inputs and do some operations to give an output.

In [ ]:
def square(x):
  #  We assume the input x is numerical.
  #  This function will take an input an square it if possible.
  # Otherwise there will be an error.

  return x**2

In [ ]:
square(-2)

4

In [ ]:
square(6)

36

In [ ]:
square('Hi')

TypeError: ignored

### Task:

Create a function which cubes an input.

In [ ]:
def cube(x):
  return x**3

cube(2)

8

In [ ]:
cube(2)

8

#### Solution

In [ ]:
def cubes(x):

  return x**3

In [ ]:
cube(2)

8

### Storing functions as variables

Functions once defined can be stored in variables

In [ ]:
x = square

x(-2)

4

In [ ]:
x(5)

25

### Functions as input

Functions can also be given as input to other functions

In [ ]:
def FunctionAtTwo(f):

  return f(2)

In [ ]:
FunctionAtTwo(square)

4

In [ ]:
FunctionAtTwo(cubes)

8

We can also use functions inside other functions

In [ ]:
def SquaredHypotenus(x,y):
  return square(x) + square(y)

SquaredHypotenus(3,4)

25

#### Default Values

Sometimes it is helpful to give default vaules in functions

In [ ]:
def DefaultValue(x='Hello', y = ''):
  print(x+y)

DefaultValue(y=' to you')

Hello to you

In [ ]:
DefaultValue(x='NO',y=' to you')

NO to you

In [ ]:
DefaultValue(y = ' everyone')

Hello everyone

In [ ]:
DefaultValue(x='This will fail')

This will fail

**NON-DEFAULT VALUES MOST COME FIRST**

In [ ]:
def Test_Function(x,y=2):
  return x+y

In [ ]:
Test_Function(4,7)

11

### Lambda Functions

Lambda functions are easy ways to create short anonymous functions.

In [ ]:
FunctionAtTwo(lambda x: x**5)

32

### Exercises

#### Task

Write a function that takes a string as an argument and returns a new string with all vowels removed. Test the function with different strings to ensure that it works correctly.

In [ ]:
def removeVowels(input):
  vowels = ['a', 'u', 'o', 'i', 'e']
  output = ''
  for char in input:
    if char not in vowels:
      output += char
  return output

removeVowels('hello')

'hll'

#### Task

Write a function that takes a string as an argument and returns the number of vowels in the string. Test the function with different strings to ensure that it works correctly.

In [ ]:
def numberVowels(input):
  vowels = ['a', 'u', 'o', 'i', 'e']
  numVowels = 0
  for char in input:
    if char in vowels:
      numVowels += 1
  return numVowels

numberVowels('hello')

2

#### Task

Write a function that takes a list of strings as an argument and returns a new list with all strings that start with a vowel removed. Test the function with different lists to ensure that it works correctly.

In [ ]:
def removeVowelsStartWords(input):
  vowels = ['a', 'u', 'o', 'i', 'e']
  outputList = []
  for word in input:
    if word[0] not in vowels:
      outputList.append(word)
  return outputList

testList = ['hello', 'world', 'eat', 'velocity']
removeVowelsStartWords(testList)

['hello', 'world', 'velocity']

#### Task

Import the `math` package and use the `sqrt()` function to calculate the square root of 25. Print the result.

In [ ]:
from math import sqrt

def root(input):
  return sqrt(input)

root(25)

5.0

#### Task

Import the `random` package and use the `randint()` function to generate a random integer between 1 and 10. Print the result.

In [ ]:
from random import randint

def randomNum():
  return randint(1, 10)

randomNum()

3

#### Task

Write a function that takes a list of numbers as an argument and returns the average of the numbers. Use the `mean()` function from the `statistics` package to calculate the average. Test the function with different lists to ensure that it works correctly.

In [ ]:
from statistics import mean

def meanCal(input):
  return mean(input)

data = [1, 2, 4, 5, 7, 10, 100, 100000]
meanCal(data)

12516.125

## Some Data Types

### Strings

Strings can be defined in multiple ways:

In [ ]:
a = 'This is a string'

a

'This is a string'

In [ ]:
b = "This is also a string"

b

'This is also a string'

In [ ]:
c = '''This is a string
which spans across multiple
lines. '''

c

'This is a string\nwhich spans across multiple\nlines. '

In [ ]:
d = str(32)

d

'32'

This last method converts an object like an integer into a string.

Strings like many objects in Python has many attributes and methods which you can access using `.`

In [ ]:
len('How many characters are there in this string?')

45

The above tells us the number of characters in the string

### Task

Find out how to split the followig string into individual words.

In [ ]:
string_of_words = '  This is a string of words    '

def splitString(input):
  input = input.strip()
  input = input.split(sep=' ')
  return input

splitString(string_of_words)

['This', 'is', 'a', 'string', 'of', 'words']

#### Solution

In [ ]:
string_of_words.split(sep= ' ')

['', '', 'This', 'is', 'a', 'string', 'of', 'words', '', '', '', '']

### Lists



### What are Lists?

In Python, a list is a mutable, ordered collection of items. Each item can be of any data type, and lists can contain items of different data types. Lists are one of the most versatile and commonly used data structures in Python.

### Syntax:

The general syntax to define a list in Python is:

```python
list_name = [item1, item2, item3, ...]
```

#### Examples

In [ ]:
my_list = [1,2,3,4,5,6]

string_list = [ 'a', 'b']

function_list = [DefaultValue, cubes]

mixed_list = [cubes, function_list, 2, 'My string']

In [ ]:
second_list = my_list

second_list

[1, 2, 3, 4, 5, 6]

In [ ]:
copy_of_my_list = my_list[:]

copy_of_my_list

[1, 2, 3, 4, 5, 6]

In [ ]:
second_copy = my_list.copy()
second_copy

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list.append(10)

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 10, 10, 10]

In [ ]:
second_list

[1, 2, 3, 4, 5, 6, 10, 10, 10]

In [ ]:
copy_of_my_list

[1, 2, 3, 4, 5, 6]

In [ ]:
second_copy

[1, 2, 3, 4, 5, 6]

Here we can see a common problem which can occur. We think that we have made a copy of the original `my_list` which was `[1,2,3]` using the varible name `second_list`. However, when we then manipulate `my_list` we continue to manipulate `second_list`.

This is because both are pointing at the same list. If we wish to just make a copy of the original `my_list`

#### Index

The index of a list in Python starts at 0 and ends at n-1 where n is the length of the list.

So if we want the first element from `my_list` we:

In [ ]:
my_list[0]

1

The third element would be:

In [ ]:
my_list[2]

3

The last element can be found using negative values i.e. working backwards through the list.

In [ ]:
my_list[-1]

10

In [ ]:
my_list[-5]

5

In [ ]:
len(my_list)

9

#### Slicing a list

If we want the first two elements of a list we can slice it as follows:

In [ ]:
my_list[:5]

[1, 2, 3, 4, 5]

Other slicing:

In [ ]:
my_list[2:]

[3, 4, 5, 6, 10, 10, 10]

In [ ]:
my_list[1:4]

[2, 3, 4]

In [ ]:
my_list[1:-1]

[2, 3, 4, 5, 6, 10, 10]

#### Combining Lists

In [ ]:
y = my_list + string_list

y

[1, 2, 3, 4, 5, 6, 10, 10, 10, 'a', 'b']

In [ ]:
my_list.extend([12,13,14])

In [ ]:
my_list

[1, 2, 3, 4, 5, 6, 10, 10, 10, 12, 13, 14]

In [ ]:
my_list.append([12,13,14])
my_list

[1, 2, 3, 4, 5, 6, 10, 10, 10, 12, 13, 14, [12, 13, 14]]

####Changing values in list

Current value of the first element in `my_list`

In [ ]:
my_list[0]

1

Now change the value to `'dog'`

In [ ]:
my_list[0] = 'dog'

Check new value

In [ ]:
my_list[0]

'dog'

In [ ]:
my_list

['dog', 2, 3, 4, 5, 6, 10, 10, 10, 12, 13, 14, [12, 13, 14]]

### Why are Lists useful in Python?

1. **Ordered Collection**: Lists maintain the order of elements, allowing for indexed access, iteration, and other operations that rely on a specific order.

2. **Mutable**: Lists are mutable, which means you can modify their content by adding, removing, or changing items after the list has been created.

3. **Versatile**: Lists can store items of any data type, including other lists, allowing for complex data structures like matrices or multi-dimensional arrays.

4. **Dynamic Resizing**: Unlike arrays in many other languages, Python lists can grow or shrink dynamically, providing flexibility in managing collections of items.

5. **Built-in Methods**: Python provides a plethora of built-in methods for lists, such as `append()`, `remove()`, `sort()`, and `reverse()`, making it easy to perform common operations.

6. **Slicing**: Lists support slicing, which allows you to extract a portion of the list using a concise syntax: `list[start:end:step]`.

7. **Iterability**: Lists are iterable, making them compatible with loops and many built-in functions like `sum()`, `min()`, and `max()`.

### Task

Write a function which multiplies the first and last element of a list together.

In [ ]:
def listCal(inputList):
  return inputList[0] * inputList[-1]

data = [99999, 2, 4, 10, 99999]
listCal(data)

9999800001

#### Solution

In [ ]:
def my_function(x):
  first_element = x[0]
  last_element = x[-1]
  return first_element*last_element

### Dictionaries

### What are Dictionaries?

In Python, a dictionary (often referred to as a "dict") is an unordered collection of items. Each item is stored as a pair of a key and its corresponding value. Dictionaries are mutable, which means you can add, remove, or modify items after the dictionary has been created. Keys in a dictionary are unique, meaning there can't be two items with the same key.

### Syntax:

The general syntax to define a dictionary in Python is:

```python
dict_name = {key1: value1, key2: value2, ...}
```

#### Examples

In [ ]:
ID_Name_Dict = {18023: 'Chris Morris', 18024:'Jacob Miles', 18025: 'Harry Clarke'}

Above the keys are the student ID and the value is the corresponding name.

In [ ]:
ID_Name_Dict[18025]

'Harry Clarke'

In [ ]:
ID_Name_Dict[18026]

KeyError: ignored

If, as above, no key exists then we obtain an error. We can add a key-value pair to the dictionary in the following way:

In [ ]:
ID_Name_Dict[18026] = 'John Smith'

In [ ]:
ID_Name_Dict

{18023: 'Chris Morris',
 18024: 'Jacob Miles',
 18025: 'Harry Clarke',
 18026: 'Barry'}

In [ ]:
ID_Name_Dict[18026] = 'Barry'

Checking if key exists

In [ ]:
18026 in ID_Name_Dict

True

Listing the keys and values

In [ ]:
ID_Name_Dict.values()

dict_values(['Chris Morris', 'Jacob Miles', 'Harry Clarke', 'Barry'])

In [ ]:
ID_Name_Dict.keys()

dict_keys([18023, 18024, 18025, 18026])

Creating an empty dictionary

In [ ]:
empty_dict = {}


### Why are Dictionaries useful in Python?

1. **Key-Value Storage**: Dictionaries allow you to store data in a key-value pair format, making it easy to retrieve values based on their keys.

2. **Unordered**: Unlike lists, dictionaries are unordered, which means the items are not stored in any specific order. This allows for efficient retrieval of values based on keys.

3. **Mutable**: Dictionaries are mutable, allowing you to add, remove, or modify items after the dictionary has been created.

4. **Unique Keys**: Each key in a dictionary must be unique, ensuring that each key-value pair can be retrieved unambiguously.

5. **Versatile**: Both keys and values in dictionaries can be of any data type, allowing for a wide range of data structures.

6. **Built-in Methods**: Python provides numerous built-in methods for dictionaries, such as `get()`, `keys()`, `values()`, and `items()`, facilitating various operations.

7. **Dynamic Resizing**: Dictionaries in Python can grow or shrink dynamically, providing flexibility in managing key-value pairs.

9. **Suitable for Metadata**: Dictionaries are ideal for storing and managing data that can be categorized or labeled, such as configuration settings, user profiles, or records in a database.

### Task

Create a dictionary with keys given by

[ Apple, Orange, Blackberry ]

and values of

[4, 9, 2]

In [ ]:
fruitDict = {
    'Apple':4,
    'Orange':9,
    'Blackberry': 2
}

fruitDict

{'Apple': 4, 'Orange': 9, 'Blackberry': 2}

#### Solution

In [ ]:
fruit = {'Apple': 4 , 'Orange':9 , 'Blackberry':2 }

In [ ]:
fruit

{'Apple': 4, 'Blackberry': 2, 'Orange': 9}

### Task

Now add a  strawberry key to the dictionary with a value of 8.

In [ ]:
fruitDict['Strawberry'] = 8
fruitDict

{'Apple': 4, 'Orange': 9, 'Blackberry': 2, 'strawberry': 8, 'Strawberry': 8}

#### Solution

In [ ]:
fruit['Strawberry'] = 8

In [ ]:
fruit

## Control Flow

## if, elif, and else

### What are if, elif, and else statements?

In Python, `if`, `elif`, and `else` are conditional statements that allow code to be executed based on whether a specified condition is `True` or `False`. They provide a way to make decisions in your code.

### Syntax:

The general syntax of `if`, `elif`, and `else` in Python is:

```python
if condition1:
    # code to be executed if condition1 is True
elif condition2:
    # code to be executed if condition1 is False and condition2 is True
else:
    # code to be executed if both condition1 and condition2 are False
```

The `elif` and `else` parts are optional. You can have multiple `elif` statements but only one `else` statement, and it must come after all `if` and `elif` statements.

### Examples:

1. Basic `if` statement:

In [ ]:
x=0

if x != 0:
  print('It is not zero')

2. `if` and `else` together:

In [ ]:
x=0

if x != 0:
  print('It is not zero')
else:
  print('It is zero')

It is zero

3. All three together

In [ ]:
x = 5

if x > 10:
  print('it is bigger than 10')
elif x < 0:
  print('it is less than 0')
else:
  print('it is between 0 and 10')

it is between 0 and 10

### Why are if, elif, and else statements useful in Python?

1. **Decision Making**: These conditional statements are fundamental for decision-making in programming. They allow the program to evaluate different conditions and execute specific blocks of code based on those conditions.

2. **Code Organization**: By using `if`, `elif`, and `else`, you can structure your code in a clear and readable manner, making it easier to understand the flow of the program.

3. **Efficiency**: Instead of executing all lines of code, the program can skip unnecessary blocks of code based on conditions, making it more efficient.

4. **Handling Different Scenarios**: They allow the program to handle different scenarios or cases. For example, in a calculator program, different operations (add, subtract, multiply, divide) can be performed based on user input.

5. **Error Handling**: Conditional statements can be used to check for potential errors or invalid inputs and handle them gracefully.

6. **Dynamic Behavior**: They enable the program to adapt its behavior based on external factors, such as user input, file contents, or sensor readings.

### Task

Create an if-loop that prints True if a number is a prime number less than 10.

In [ ]:
def isPrime(number):
  validPrimes = [2, 3, 5, 7]
  if number in validPrimes:
    return True
  return False

isPrime(99)

False

#### Solution

In [ ]:
x = 7

if x==2:
  print('True')
elif x==3:
  print('True')
elif x == 5:
  print('True')
elif x == 7:
  print('True')
else:
  print('False')

True

In [ ]:
primes = [2,3,5,7]

if x in primes:
  print('True')
else:
  print('False')

True

## for loops

### What are for-loops?

In Python, a `for` loop is a control flow statement that allows code to be executed repeatedly based on a specified number of times or over a sequence (like a list, tuple, dictionary, set, or string). The loop iterates over each item in the sequence, executing the code block for each item, until the sequence is exhausted or a break statement is encountered.

### Syntax:

The general syntax of a `for` loop in Python is:

```python
for variable in sequence:
    # code to be executed for each item in the sequence
```

### Examples:

1. Iterating over a list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

2. Iterating over a string:

In [ ]:
word = "python"
for letter in word:
    print(letter)

3. Iterating over a range of numbers:

In [ ]:
for i in range(5):  # This will iterate over numbers from 0 to 4
    print(i)

### More Examples

In [ ]:
for i in range(5):
  print('Hi')

Hi
Hi
Hi
Hi
Hi

In [ ]:
for x in my_list:
  print(x)

dog
2
3
4
5
6
10
10
10
12
13
14
[12, 13, 14]

In [ ]:
for x in range(10):
  if x == 3:
    continue
  if x==5:
    break
  print(x)

0
1
2
4

In [ ]:
for i in range(4):

    for j in range(4):

        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [ ]:
for key, value in ID_Name_Dict.items():
  print('Student ID: %d corresponds to %s' %(key,value))

Student ID: 18023 corresponds to Chris Morris
Student ID: 18024 corresponds to Jacob Miles
Student ID: 18025 corresponds to Harry Clarke
Student ID: 18026 corresponds to Barry

### Why are for-loops useful in Python?

1. **Repetitive Execution**: `for` loops allow you to execute a block of code multiple times, which can save time and reduce the amount of code you have to write.

2. **Iteration Over Collections**: Python's `for` loop is versatile and can iterate over various data structures like lists, tuples, dictionaries, sets, and strings. This makes it easy to process and manipulate data stored in these structures.

3. **Code Organization**: Using loops can make code more organized and readable by grouping a set of related operations together.

4. **Flexibility with Control Flow**: Inside a `for` loop, you can use control statements like `break` (to exit the loop prematurely) and `continue` (to skip to the next iteration), giving you more control over the loop's execution.

5. **Comprehensions**: Python offers a feature called comprehensions (like list comprehensions which we will see later) that allow you to create new lists, dictionaries, or sets using a concise and readable `for` loop syntax.

### Task

Write a function which can take in a list as the input and output a dictionary which shows the count for the number of times each element of the list appears i.e.

[1,1,1,1,2,2,2,5] -> {1: 4, 2: 3, 5:1}

In [ ]:
def listToDict(inputList):
  returnDict = {}
  for element in inputList:
    if element not in returnDict.keys():
      returnDict[element] = 1
    else:
      returnDict[element] += 1

  return returnDict

data = [1, 2, 3, 4, 5, 6, 1, 2, 3, 1, 3, 13, 1, 2, 43, 44, 33, 33, 33, 33, 33]
listToDict(data)

{1: 4, 2: 3, 3: 3, 4: 1, 5: 1, 6: 1, 13: 1, 43: 1, 44: 1, 33: 5}

#### Solution

In [ ]:
def another_counter(x):

  counter_dict = {}

  for element in x:

    if element in counter_dict.keys():

      counter_dict[element] = counter_dict[element] + 1

    else:

      counter_dict[element] = 1


  return counter_dict

In [ ]:
def element_counter(x):

  counter_dict = {}

  for element in x:

    counter_dict[element] = x.count(element)

  return counter_dict

### Task

Create a function which takes in two lists and outputs a list of common elements.

In [ ]:
def mergeLists(inputList1, inputList2):
  return list(set(inputList1) & set(inputList2))

data1 = [1, 2, 3, 4, 5, 6, 7]
data2 = [4, 5, 6, 7, 8, 9, 10]
mergeLists(data1, data2)

[4, 5, 6, 7]

#### Solution

In [ ]:
def list_intersection(x,y):
  common_elements = []
  for element_in_x in x:
    if element_in_x in y:
      common_elements.append(element_in_x)
  return common_elements

In [ ]:
list_intersection([1,2,45,73,23,4,543,3],[4,2,8,11,23,111,22,67])

[2, 23, 4]

In [ ]:
def list_intersection_2(x,y):
  common_elements = [item for item in x if item in y]
  return common_elements

In [ ]:
list_intersection_2([1,2,45,73,23,4,543,3],[4,2,8,11,23,111,22,67])

[2, 23, 4]

### while loops

### What are while-loops?

In Python, a `while` loop is a control flow statement that allows code to be executed repeatedly based on a specified condition. The loop will continue to execute as long as the condition remains `True`. Once the condition becomes `False`, the loop terminates and the program continues with the next line of code outside the loop.

### Syntax:

The general syntax of a `while` loop in Python is:

```python
while condition:
    # code to be executed while the condition is True
```

### Examples:

1. Basic Counter:

In [ ]:
x = 0

while x < 10:
  print(x)
  x += 1

0
1
2
3
4
5
6
7
8
9

2. Using a `break` statement:

In [ ]:
n = 0
while True:
    if n == 5:
        break
    print(n)
    n += 1

This loop will also print numbers from 0 to 4. The loop will terminate when `n` becomes 5 due to the `break` statement.

In [ ]:
x = 256
total = 0

while x > 0:
  if total > 500:
    break
  total += x
  x = x // 2
  print(total)

256
384
448
480
496
504

### Why are while-loops useful in Python?

1. **Indeterminate Iteration**: Unlike `for` loops which iterate over a known set of items or a fixed number of times, `while` loops are useful when the number of iterations is not predetermined. They keep running as long as a condition is met.

2. **Simplicity**: In scenarios where you just need a simple condition to decide the continuation of the loop, a `while` loop can be more straightforward than setting up a `for` loop.

3. **Flexibility with Control Flow**: Inside a `while` loop, you can use control statements like `break` (to exit the loop prematurely) and `continue` (to skip to the next iteration), providing more control over the loop's execution.

4. **User Input**: `while` loops are commonly used when waiting for user input. For example, you can keep prompting a user for input until they provide a valid response.

5. **Loop Control with External Factors**: `while` loops are useful when the loop's continuation depends on external factors, such as the state of a file, a network connection, or sensor readings in hardware projects.

### Range

In [ ]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

### Exercises

#### Task

Write a function that takes a list of integers as an argument and returns the sum of all odd numbers in the list.

In [ ]:
def oddNums(inputList):
  sumOdd = 0
  for num in inputList:
    if num % 2 != 0:
      # is odd
      sumOdd += num
  return sumOdd

data = [1, 2, 3, 4, 5, 6, 7, 7, 8,]
oddNums(data)

23

#### Task

Write a function that takes a list of strings as an argument and returns a new list with all strings that are palindromes. A palindromic string is a string that is the same when read backwards and forwards.

In [ ]:
def isPalindromic(word):
  for x in range(len(word)):
    if word[x] != word[-x-1]:
      return False
  return True

def palindromes(inputList):
  palindromeList = []
  for word in inputList:
    if isPalindromic(word):
      palindromeList.append(word)
  return palindromeList

data = ['aa', 'aq', 'word']
palindromes(data)

['aa']

#### Task

Write a function that takes a list of integers as an argument and returns a new list with all integers that are divisible by 3.

In [ ]:
def divisibleBy3(inputList):
  output = []
  for num in inputList:
    if num % 3 == 0:
      # is divisible by 3
      output.append(num)
  return output

data = [3, 9, 18, 6, 7, 8, 5, 2]
divisibleBy3(data)

[3, 9, 18, 6]

#### Task

Write a function that takes in an integer as an input and returns a list of all numbers from 1 to the integer that are prime.

In [ ]:
def isPrime(number):
  if number < 1:
    return False

  # try to find a divisible number
  for i in range(2, int(number/2) + 1):
    if number % i == 0:
      # not prime
      return False
  # is Prime
  return True

def genPrimeList(inputNum):
  outputList = []
  for num in range(inputNum):
    if isPrime(num):
      outputList.append(num)
  return outputList

genPrimeList(99999999999)

KeyboardInterrupt: ignored

##List Comprehension

List comprehension is very useful as it allows us to easily create a new list from another.

### What is List Comprehension?

List comprehension is a concise way to create lists in Python. It offers a shorter syntax when you want to create a new list based on the values of an existing list or iterable. List comprehensions are more compact and faster than traditional for loops for generating lists.

### Syntax:

The general syntax of list comprehension in Python is:

```python
[expression for item in iterable if condition]
```

- `expression` is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up in the new list.
- `item` is the variable used for each element in the `iterable`.
- `condition` is like a filter that only accepts the items that evaluate as `True`.

In [ ]:
a_list = [1,2,3,4,5,6]

Let's suppose we want to create a new list which contains the square of all the numbers above.

In [ ]:
b_list = [ x**2 for x in a_list]

In [ ]:
b_list

[1, 4, 9, 16, 25, 36]

Let's just try to extract only the even numbers.

In [ ]:
c_list = [x for x in a_list if x % 2 == 0]

c_list

[2, 4, 6]

More list comprehension

In [ ]:
d_list = [x*y for x in a_list for y in range(4)]

d_list

[0, 1, 2, 3, 0, 2, 4, 6, 0, 3, 6, 9, 0, 4, 8, 12, 0, 5, 10, 15, 0, 6, 12, 18]


### Why is List Comprehension useful in Python?

1. **Conciseness**: List comprehensions provide a more syntactically elegant and readable way to generate lists, reducing the need for multiple lines of code.

2. **Performance**: They are often faster than equivalent `for` loops because they are optimized in the Python interpreter.

3. **Immutability**: Since a new list is generated, the original list or iterable remains unmodified.

4. **Flexibility**: You can use list comprehensions with any iterable, not just lists. This includes strings, tuples, and other data structures.

5. **Nested Loops**: List comprehensions can also mimic nested loops. For example, `[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]` produces a list of combinations of `x` and `y` where `x` and `y` are not equal.

6. **Readability**: For those familiar with the syntax, list comprehensions can make code more readable by clearly expressing the transformation being applied to each element.

However, it's worth noting that while list comprehensions are powerful, they can become less readable when overused or when used for very complex operations. In such cases, traditional loops might be a better choice for the sake of clarity.

### Comprhension more generally

In [ ]:
square_dic = {x : x**2 for x in a_list }

square_dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
new_dic = {'Key' + str(x) : 2*x for x in a_list }

new_dic

{'Key1': 2, 'Key2': 4, 'Key3': 6, 'Key4': 8, 'Key5': 10, 'Key6': 12}

In [ ]:
letters_in_word = [letter for letter in 'amazing']

letters_in_word

['a', 'm', 'a', 'z', 'i', 'n', 'g']