<a href="https://colab.research.google.com/github/danielmayfield/coms605-AI/blob/main/Week_1_COMS605_AI_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exercise: Sales Data Analysis

**Background**: You are a data analyst at a retail company. The company has provided you with monthly sales data for different products over a year. Your task is to analyze this data to gain insights into sales trends and provide recommendations.

**Data**:

In [ ]:
sales_data = {
    'January': {'laptop': 100, 'phone': 150, 'tablet': 80},
    'February': {'laptop': 110, 'phone': 140, 'tablet': 75},
    'March': {'laptop': 105, 'phone': 155, 'tablet': 85},
    'April': {'laptop': 120, 'phone': 160, 'tablet': 82},
    'May': {'laptop': 115, 'phone': 165, 'tablet': 87},
    'June': {'laptop': 112, 'phone': 170, 'tablet': 90},
    'July': {'laptop': 125, 'phone': 175, 'tablet': 88},
    'August': {'laptop': 130, 'phone': 180, 'tablet': 89},
    'September': {'laptop': 128, 'phone': 185, 'tablet': 91},
    'October': {'laptop': 135, 'phone': 190, 'tablet': 92},
    'November': {'laptop': 140, 'phone': 195, 'tablet': 94},
    'December': {'laptop': 145, 'phone': 200, 'tablet': 95},
}

**Tasks**:

1. **Monthly Sales**:
   - Calculate the total sales for each month.
   - Identify the month with the highest sales and the month with the lowest sales.

2. **Product Sales**:
   - Calculate the total sales for each product over the year.
   - Identify the most popular product (highest sales) and the least popular product (lowest sales).

3. **Sales Growth**:
   - For each product, calculate the month-over-month sales growth rate. (Growth rate for a month = `(Sales of current month - Sales of previous month) / Sales of previous month`).
   - Identify the product with the highest average monthly growth rate.

4. **Recommendation**:
   - Based on the analysis, provide recommendations to the marketing team. For instance, if a product has declining sales, it might need more marketing efforts.

**Hints**:
- Use dictionaries to store intermediate results.
- Use loops to iterate over the data.

## Task 1

In [ ]:
# Task 1
def calTotalSalesMonth(data):
  # calculate total sales for each month and return a dict in format {month : total sales}
  monthTotals = {}
  for month in data:
    total = 0
    for product in data[month]:
      total += data[month][product]
    monthTotals[month] = total

  return monthTotals

def highestSales(data):
  # gets the month with the highest sales using the dict created from calTotalSalesMonth
  highestMonth = ''
  highest = 0

  for month in data:
    if data[month] > highest:
      highestMonth = month
      highest = data[month]

  return highestMonth

def lowestSales(data):
  # gets the month with the lowest sales using the dict created from calTotalSalesMonth
  lowestMonth = ''
  lowest = None

  for month in data:
    if lowest == None:
      lowestMonth = month
      lowest = data[month]

    elif data[month] < lowest:
      lowestMonth = month
      lowest = data[month]

  return lowestMonth

calTotalSalesMonth(sales_data)

{'January': 330,
 'February': 325,
 'March': 345,
 'April': 362,
 'May': 367,
 'June': 372,
 'July': 388,
 'August': 399,
 'September': 404,
 'October': 417,
 'November': 429,
 'December': 440}

In [ ]:
data = calTotalSalesMonth(sales_data)
highestSales(data)

'December'

In [ ]:
lowestSales(data)

'February'

## Task 2

In [ ]:
# Task 2